### Learning Objectives

Difference Between List and Tuple
- List and Tuple in Python are the class of data structure. 
- The list is dynamic, whereas 
- The tuple has static characteristics.

1. Tuples 
2. Lists 
3. Sets
4. Dictionaries 

---

### 1. Tuples

In [1]:
# Create your first tuple
tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created
type(tuple1)

tuple

In [3]:
# Print the variable on each index
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print the type of value on each index
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# Use negative index to get the value of the last element
tuple1[-1]

1.2

In [6]:
# Use negative index to get the value of the third last element
tuple1[-3]

'disco'

---

- Concatenate Tuples

In [8]:
# We can concatenate or combine tuples by using the + sign
tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

---

<p style="text-align:center">Another note is that Python does not do implicit string conversion.<br>If you try to concatenate a string with a non-string type,<br>Python will raise a TypeError:</p>

In [9]:
print('Hello' + 2)

TypeError: can only concatenate str (not "int") to str

In [56]:
print(('Hello' + str(2)))

Hello2

In [22]:
# 
strings = ['Christophe', 'Yoann', 'Mickaël']
concatStrings=' | '.join(strings)
print(concatStrings)

Christophe | Yoann | Mickaël

---

- Slicing

We can slice tuples, obtaining new tuples with the corresponding elements

In [24]:
# Slice from index 0 to index 2
tuple2[0:3] # or tuple2[:3]

('disco', 10, 1.2)

In [25]:
# Slice from index 3 to index 4
tuple2[3:5]

('hard rock', 10)

In [26]:
# Get the length of tuple
len(tuple2)

5

---

- Sorting

In [38]:
# A sample tuple
Ratings=(0, 9, 6, 5, 10, 8, 9, 6, 2)
print(f"Before the sorting: {Ratings}", end=" / ")
print(type(Ratings))

Before the sorting: (0, 9, 6, 5, 10, 8, 9, 6, 2) / <class 'tuple'>

In [39]:
# Sort the tuple
RatingsSorted = sorted(Ratings)
print(f"After  the sorting: {RatingsSorted}", end=" / ")
print(type(RatingsSorted))

After  the sorting: [0, 2, 5, 6, 6, 8, 9, 9, 10] / <class 'list'>

---

- Nested Tuple

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'.

In [40]:
# Create a nest tuple
NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

# Print element on each index
print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

We can use the second index to access other tuples

In [45]:
# Print element on each index
print("Element 2, 0 of Tuple: ", NestedT[2][0])
print("Element 2, 1 of Tuple: ", NestedT[2][1])
print("Element 3, 0 of Tuple: ", NestedT[3][0])
print("Element 3, 1 of Tuple: ", NestedT[3][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4

In [79]:
# Print each element on index 4
print(NestedT[4])
print(NestedT[4][0])
print(NestedT[4][1])
print(NestedT[4][1][0])
print(NestedT[4][1][1])

('disco', (1, 2))
disco
(1, 2)
1
2

---

<p style="text-align:center"><b>As Tuples are imutable,</b><br>we can not change them. For example, try to change the first element</p>

---

In [81]:
newElement=35
NestedT[0]=newElement

TypeError: 'tuple' object does not support item assignment

---

## 2. Lists
- Indexing: We are going to take a look at lists in Python. A list is a sequenced collection of different objects such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.
- To create a list:  
    - type the list within __square brackets__ [ ], with your content inside the parenthesis and separated by commas.
- We can use negative and regular indexing with a list.
- List Content: 
    - strings, 
    - floats, 
    - integers. 
    - We can nest other lists, 
    - we can also nest tuples and other data structures. 
    - __The same indexing conventions apply for nesting__
- List Operations: 
    - We can also perform slicing in lists.
    - We can use the method __"extend()"__ to add __new elements__ to the list.
    - If we apply __"append()"__ instead of extend, we add __one element__ to the list
    - We can also delete an element of a list using the del command.
    - We can convert a string to a list using __split()__.

In [72]:
# Create a list
L=["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]
L

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

In [61]:
# Print the elements on each index
print('the same element using negative and positive indexing:\n - Postive:',L[0],
'\n - Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n - Postive:',L[1],
'\n - Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n - Postive:',L[2],
'\n - Negative:' , L[-1]  )

the same element using negative and positive indexing:
 - Postive: Michael Jackson
 - Negative: Michael Jackson
the same element using negative and positive indexing:
 - Postive: 10.1
 - Negative: 10.1
the same element using negative and positive indexing:
 - Postive: 1982
 - Negative: 1982

In [100]:
# List slicing
L=[1, 2, 3, 4, 5]
print("[1, 2, 3, 4, 5] L[:]  : ",L[:])
print("[x, x, x, 4, 5] L[3:5]: ",L[3:5])
print("[1, x, 3, x, 5] L[::2]: ",L[::2])
print("[x, x, 3, 4, 5] L[2::]: ",L[2:])

[1, 2, 3, 4, 5] L[:]  :  [1, 2, 3, 4, 5]
[x, x, x, 4, 5] L[3:5]:  [4, 5]
[1, x, 3, x, 5] L[::2]:  [1, 3, 5]
[x, x, 3, 4, 5] L[2::]:  [3, 4, 5]

In [77]:
# Use extend to add elements to list
L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [76]:
# Use append to add elements to list
L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

In [78]:
# Use append to add elements to list
L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

---

#### As lists are mutable, we can change them. 

---

In [82]:
# Change the element based on the index
A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [83]:
# Delete the element based on the index
print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

In [89]:
# Split the string, default is by space
'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character. We pass the character we would like to split on into the argument, which in this case is a comma. The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [88]:
# Split the string by comma
'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [102]:
# Split the string by space
'Hello world my name is Christophe'.split(' ')

['Hello', 'world', 'my', 'name', 'is', 'Christophe']

---

<p style="text-align:center"><b>Copy and Clone List</b><br>When we set one variable B equal to A;<br>both A and B are referencing the same list in memory</p>

In [121]:
# Copy (copy by reference) the list A
A = ["hard rock", 10, 1.2]
B = A
print('[A]:', A)
print('[B]:', B)

[A]: ['hard rock', 10, 1.2]
[B]: ['hard rock', 10, 1.2]

---

<p style="text-align:center">Initially, the value of the first element in B is set as hard rock.<br>If we change the first element in A to banana, we get an unexpected side effect.<br>As A and B are referencing the same list, if we change list A, then list B also changes.<br>If we check the first element of B we get banana instead of hard rock</p>

---

In [122]:
# Examine the copy by reference
print("B[0] before changing, 'hard rock' to 'banana' only by modifying A[0]='banana' :", B[0])
# We change first element of A list and not B list
A[0] = "banana"
print("B[0] after changing, 'hard rock' is 'banana' only by modifying A[0]='banana   :", B[0])

B[0] before change 'hard rock' to 'banana' only by modifying A[0]='banana' : hard rock
B[0] after 'hard rock' is 'banana' only by modifying A[0]='banana          : banana

---

<p style="text-align:center">Variable B references a new copy or clone of the original list.</p>

---

In [131]:
# Clone (clone by value) the list A
B = A[:]
B

['metal', 10, 1.2]

In [132]:
print("- [B] before changing 'banana' to 'metal' only by modifying A[0]='metal' :")
print(B)
A[0] = "metal"

print("- [B] after changing 'banana' to 'metal' only by modifying A[0]='metal' :")
print(B)
print("- [A] : ")
print(A)

- [B] before changing 'banana' to 'metal' only by modifying A[0]='metal' :
['metal', 10, 1.2]
- [B] after changing 'banana' to 'metal' only by modifying A[0]='metal' :
['metal', 10, 1.2]
- [A] :
['metal', 10, 1.2]

---

## 3. Sets

#### A set is a unique collection of objects in Python. You can denote a set with a curly bracket {}. Python will automatically remove duplicate items

In [134]:
# Create a set
set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [135]:
# Convert list to set
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

In [136]:
# Convert list to set II
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

In [137]:
# Sample set
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [138]:
# Add element to set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [139]:
# Try to add duplicate element to the set
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [140]:
# Remove the element from set
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [141]:
# Verify if the element is in the set
"AC/DC" in A

True

---

#### Sets Logic Operations

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union

In [157]:
# Sample Sets
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [158]:
# Print two sets
print("album_set1: ",album_set1)
print("album_set2: ", album_set2)

album_set1:  {'Back in Black', 'Thriller', 'AC/DC'}
album_set2:  {'The Dark Side of the Moon', 'Back in Black', 'AC/DC'}

- You can find the intersect of two sets as follow using __&__ or with __intersection__ method

In [159]:
# Use intersection method to find the intersection of album_list1 and album_list2
intersection=album_set1.intersection(album_set2) 
print(intersection, " are in album_set1 and album_set2")

{'Back in Black', 'AC/DC'}  are in album_set1 and album_set2

In [151]:
intersection=album_set1&album_set2
print(intersection, " are in album_set1 and album_set2")

{'Back in Black', 'AC/DC'}  are in album_set1 and album_set2

- You can find all the elements that are only contained in album_set1 using the __difference__ method

In [152]:
# Find the difference in set1 but not set2
dif=album_set1.difference(album_set2) 
print(dif, " is not in album_set2")

{'Thriller'}  is not in album_set2

In [153]:
# Find the difference in set2 but not set1
dif=album_set2.difference(album_set1)
print(dif, "is not in album_set1")

{'The Dark Side of the Moon'} is not in album_set1

- You can also find the union of album_list1 and album_list2, using the __union__ method

In [161]:
# Find the union of two sets
union=album_set1.union(album_set2)
print(union, " are all elements in album_set1 and album_set2")

{'The Dark Side of the Moon', 'Thriller', 'Back in Black', 'AC/DC'}  are all elements in album_set1 and album_set2

You can check if a set is a superset or subset of another set, respectively
- The issuperset() method returns True if all elements of a set A occupies set B which is passed as an argument and returns false if all elements of B not present in A. This means if A is a superset of B then it returns true; else False
- The __issubset() method returns True if all elements of a set A are present in another set B which is passed as an argument and returns false if all elements not present.

In [162]:
# Check if superset
set(album_set1).issuperset(album_set2)

False

In [163]:
# Check if subset
set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [164]:
# Check if superset
album_set1.issuperset({"Back in Black", "AC/DC"})

True

---

More about issubset and issuperset:

    https://www.geeksforgeeks.org/issubset-in-python/
    https://www.geeksforgeeks.org/issuperset-in-python/
        
---

## 4. Dictionaries

---

- A dictionary consists of keys and values. 
- It is helpful to compare a dictionary to a list. 
- Instead of the numerical indexes such as a list, 
- dictionaries have keys. 
- These keys are the keys that are used to access values within a dictionary.

---

In [1]:
# Create the dictionary
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [2]:
# Access to the value by the key
Dict["key1"]

1

In [3]:
# Access to the value by the key
Dict[(0, 1)]

6

---

- Each key is separated from its value by a colon ":"
- Commas separate the items, and the whole dictionary is enclosed in curly braces 
- An empty dictionary without any items is written with just two curly braces, like this "{}"

---

In [36]:
# Create a sample dictionary
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

---

- In summary, like a list, a dictionary holds a sequence of elements. 
- Each element is represented by a key and its corresponding value. 
- Dictionaries are created with two curly braces containing keys and values separated by a colon. 
- For every key, there can only be one single value, however, multiple keys can hold the same value. 
- Keys can only be strings, numbers, or tuples, but values can be any data type.

---

<font size="+1">METHODS</font>                 |<font size="+1">DESCRIPTION</font>         |<font size="+1">SYNTAXE</font>
---|---|---
<font size="+1">clear()</font>                 |<font size="+1">removes all items from the dictionary.</font>
<font size="+1">cmp()</font>                   |<font size="+1">Compares elements of both dict.</font>
<font size="+1">copy()</font>                  |<font size="+1">returns a shallow copy of the dictionary.</font>
<font size="+1">dictionary_name.values()</font>|<font size="+1">returns a list of all the values available in a given dictionary.</font>
<font size="+1">fromkeys()</font>              |<font size="+1">Create a new dictionary with keys from seq and values set to value.</font>
<font size="+1">get()</font>                   |<font size="+1">It is a conventional method to access a value for a key.</font>
<font size="+1">in</font>                      |<font size="+1">Verify the key is in dict and return a boolean.</font>|<font size="+1">"key" in "dict"</font> 
<font size="+1">items()</font>                 |<font size="+1">Returns a list of dict’s (key, value) tuple pairs.</font>|<font size="+1">dict.items()</font>
<font size="+1">keys()</font>                  |<font size="+1">Returns list of dictionary dict’s keys.</font>
<font size="+1">pop()</font>                   |<font size="+1">Removes and returns an element from a dictionary having the given key.</font>
<font size="+1">popitem()</font>               |<font size="+1">Removes the arbitrary key-value pair from the dictionary and returns it as tuple.</font>
<font size="+1">setdefault()</font>            |<font size="+1">Set dict[key]=default if key is not already in dict.</font>
<font size="+1">str()</font>                   |<font size="+1">Produces a printable string representation of a dictionary.</font>
<font size="+1">type()</font>                  |<font size="+1">Returns the type of the passed variable.</font>
<font size="+1">update()</font>                |<font size="+1">Adds dictionary dict2’s key-values pairs to dict.</font>
                         
---

In [30]:
# Get value by key
release_year_dict['The Bodyguard']

'1992'

In [31]:
# Get all the keys in dictionary
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [38]:
# Append value with key into dictionary
release_year_dict['Graduation'] = '2007'
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

---

- Removing Elements from Dictionary or Dictionary

---

In [114]:
# Create a sample dictionary
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977", "Graduation": "2007"}

# Delete entries by key Using del keyword
del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [115]:
# Delete entries by ket Using pop() method
# Pop() method is used to return and delete the value of the key specified.
release_year_dict.pop('Rumours')

'1977'

In [116]:
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977'}

In [117]:
# Verify the key is in the dictionary
'The Bodyguard' in release_year_dict

True

In [118]:
# Returns a list of dict’s (key, value) tuple pairs.
for key, value in release_year_dict.items():
    space=len(key)     # We can see that 31 is tha album with more caracters
    space= 31 - space  # The number of point to add for align all text after 
    print('-', key, ('.' * space), '> was released in', value, '.')

- Back in Black .................. > was released in 1980 .
- The Dark Side of the Moon ...... > was released in 1973 .
- The Bodyguard .................. > was released in 1992 .
- Bat Out of Hell ................ > was released in 1977 .
- Their Greatest Hits (1971-1975)  > was released in 1976 .
- Saturday Night Fever ........... > was released in 1977 .

In [119]:
# For access a value for a key.
getValue=release_year_dict.get("Their Greatest Hits (1971-1975)")
print('The year is:', getValue)

The year is: 1976

In [123]:
# Add key in dict if is not already in dict
release_year_dict.setdefault("Their Greatest Hits (1971-1975)")
print("The key is already in dict:", release_year_dict)
release_year_dict.setdefault("new album music")
print("The key is not in dict's key:", release_year_dict)

The key is already in dict: {'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'new album music': None}
The key is not in dict's key: {'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest Hits (1971-1975)': '1976', 'Saturday Night Fever': '1977', 'new album music': None}

In [124]:
release_year_dict['new album music']=2020
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'new album music': 2020}

In [88]:
# Delete entries Using popitem() method
# The popitem() returns and removes an arbitrary element (key, value) pair from the dictionary.
release_year_dict.popitem()

('Saturday Night Fever', '1977')

In [102]:
# Delete a Dictionary Using clear() method
release_year_dict.clear()
release_year_dict

{}

In [133]:
# The dictionaries d and d1
d={1:"one",2:"three"}
print('original d ........................................:',d)
d1={2:"two"}
print('original d1 .......................................:',d1)
# updates the value of key 2
d.update(d1)
print('updated d with value of d1 because the key is in d: ',d)
#  
d2 = {3:"three"}
print('original d3 .......................................:',d2)
# adds element with key 3
d.update(d2)
print("update d with key & value : ........................", d)

original d ........................................: {1: 'one', 2: 'three'}
original d1 .......................................: {2: 'two'}
updated d with value of d1 because the key is in d:  {1: 'one', 2: 'two'}
original d3 .......................................: {3: 'three'}
update d with key & value : ........................ {1: 'one', 2: 'two', 3: 'three'}