### Learning Objectives
1. Types
2. Expressions and Variables
3. String Operations

---

#### Say "Hello" to the world in Python

In [1]:
# Say Hello
print('Hello')

Hello

In [2]:
# What version of Python are we using?
import sys
print(sys.version)

3.7.6 (default, Jan  8 2020, 13:42:34)
[Clang 4.0.1 (tags/RELEASE_401/final)]

---

1. Types of objects in Python

In [4]:
# Type of 11
print(type(11))
print(11)

<class 'int'>
11

In [5]:
# Type of 11.5
print(type(11.5))
print(11.5)

<class 'float'>
11.5

In [7]:
# Type of "Hello, Python 101!"
print(type("Hello, Python 101!"))
print("Hello, Python 101!")

<class 'str'>
Hello, Python 101!

---

- Converting from one object type to a different object type

In [9]:
# Convert 2 to a float
float(2)

2.0

In [10]:
# Convert integer 2 to a float and check its type
type(float(2))

float

In [12]:
# Casting 1.1 to integer will result in loss of information
int(1.1)

1

In [13]:
# Convert a string into an integer
int('1')

1

In [14]:
# Convert a string into an integer with error:
# ValueError: invalid literal for int() with base 10: '1 or 2 people'
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [15]:
# Convert the string "1.2" into a float
float('1.2')

1.2

---

- Converting numbers to strings

In [16]:
# Convert an integer to a string
str(1)

'1'

In [17]:
# Convert a float to a string
str(1.2)

'1.2'

---

- Boolean data type

In [21]:
# Value True & Type
print(True)
print(type(True))

True
<class 'bool'>

In [22]:
# Value False
print(False)
print(type(False))

False
<class 'bool'>

In [25]:
# Convert False to int 
int(False)

0

In [26]:
# Convert True to int
int(True)

1

In [27]:
# Convert 0 to boolean
bool(0)

False

In [28]:
# Convert 0 to boolean

bool(1)

True

---

2. Expression and Variables

In [31]:
# Addition operation expression
43 + 60 + 16 + 41

160

In [32]:
# Subtraction operation expression
50 - 60

-10

In [33]:
# Multiplication operation expression
5 * 5

25

In [38]:
# Division operation expression
print(25 / 5)
print(type(25 / 5))

5.0
<class 'float'>

In [37]:
# Integer division operation expression

print(25 // 5)
print(type(25 // 5))

5
<class 'int'>

In [35]:
# Division operation expression
25 / 6

4.166666666666667

---

- Variables

In [39]:
# Store value into variable
x = 43 + 60 + 16 + 41

In [40]:
# Print out the value in variable
x

160

In [41]:
# Use another variable to store the result of the operation between variable and value
y = x / 60
y

2.6666666666666665

It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [42]:
# Name the variables meaningfully
total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [43]:
# Name the variables meaningfully
total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

In the cells above we added the length of three albums in minutes and stored it in total_min. We then divided it by 60 to calculate total length total_hours in hours. You can also do it all at once in a single expression, as long as you use parenthesis to add the albums length before you divide, as shown below.

In [44]:
# Complicate expression
total_hours = (43 + 42 + 57) / 60  # Total hours in a single expression
total_hours

2.3666666666666667

---

3. String Operations

In [46]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [47]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

In [48]:
# Digitals and spaces in string
'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

In [49]:
# Special characters in string
'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [50]:
# Print the string
print("hello!")

hello!

In [51]:
# Assign string to variable
Name = "Michael Jackson"
Name

'Michael Jackson'

---

- Indexing

In [52]:
# Print the first element in the string
print(Name[0])

M

In [53]:
# Print the element on index 6 in the string
print(Name[6])

l

- Negative Indexing

In [54]:
# Print the last element in the string
print(Name[-1])

n

In [55]:
# Print the first element in the string
print(Name[-15])

M

In [56]:
# Find the length of string
len("Michael Jackson")

15

---

- Slicing

In [57]:
# Take the slice on variable Name with only index 0 to index 3
Name[0:4]

'Mich'

In [58]:
# Get every second element. The elments on index 1, 3, 5 ...
Name[::2]

'McalJcsn'

In [59]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Mca'

---

- Concatenate Strings

In [61]:
# Concatenate two strings
Statement = Name + " is the best!"
Statement

'Michael Jackson is the best!'

In [62]:
# Print the string for 3 times
3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

In [65]:
# Concatenate strings
Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

---

- Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [66]:
# New line escape sequence
print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [67]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [68]:
# Include back slash in string
print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [69]:
# r will tell python that string will be display as raw string
print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

---

- String Operations

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

In [71]:
# Convert all the characters in string to upper case
A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [73]:
# Replace the old substring with the new target substring is the segment has been found in the string
A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
print(A)
print(B)

Michael Jackson is the best
Janet Jackson is the best

In [74]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
Name = "Michael Jackson"
Name.find('el')

5

If the sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [75]:
# If cannot find the substring in the string
Name.find('Jasdfasdasdf')

-1

--- 

### Mode information about Common string operations
https://docs.python.org/3/library/string.html

---